<div>
  <%= link_to "Create New Stock", new_stock_path, :class => "btn btn-primary" %>
  
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Crawl <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><%= button_to "All stocks", crawl_posts_multiple_stocks_path(all: true), method: :post %></li>
      <li><a href="#" onclick="MappedOn.Stocks.CrawlPosts();">Selected stocks</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Update <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><%= button_to "All stocks", update_weights_multiple_stocks_path(all: true), method: :post %></li>
      <li><a href="#" onclick="MappedOn.Stocks.UpdateWeights();">Selected stocks</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Download <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="<%= download_monthly_summary_posts_path(format: :csv) %>">Summary by month for All</a></li>
      <!--<li><a href="#">Summary by month for Selected</a></li>-->
      <li class="divider"></li>
      <li><a href="#">Summary by week for All</a></li>
      <!--<li><a href="#">Summary by week for Selected</a></li>-->
    </ul>
  </div>
</div>

<% unless @stocks.blank? %>
  <%= form_tag('/stocks', method: :post, id: "stocks") do %>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th></th>
          <th>Stock ID</th>
          <th>Stock Name</th>
          <th>Status</th>
          <th>Total Posts</th>
          <th>Updated Time</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @stocks.each do |stock| %>
          <tr>
            <td><%= check_box_tag 'stock_ids[]', stock.stock_id %></td>
            <td><a href="<%= stock_posts_path(stock.stock_id) %>"><%= stock.stock_id %></a></td>
            <td><%= stock.stock_name %></td>
            <td><%= stock.status %></td>
            <td><%= stock.total_posts %></td>
            <td><%= stock.updated_at %></td>
            <td>
              <%= link_to "Crawl Posts", crawl_posts_stock_path(stock.stock_id), :method => :post, :class => "btn btn-xs btn-primary", :disabled => !stock.idle? %>
              <%= link_to "Update Weights", update_weights_stock_path(stock.stock_id), :method => :post, :class => "btn btn-xs btn-primary", :disabled => !stock.idle? %>
              <%= link_to "Show Chart", chart_stock_posts_path(stock.stock_id), :class => "btn btn-xs btn-success", :disabled => stock.total_posts.nil? %>
              <button class="btn btn-xs btn-danger">Delete</button>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>

<div class="pagination pull-left"><%= page_entries_info @stocks %></div>
<%= will_paginate @stocks, renderer: BootstrapPagination::Rails, class: "pull-right" %>