<h3>Add a new Stock to Analyze</h3>

<%= form_tag stocks_path, method: :post, class: "form-horizontal", role: "form" do %>
  <div class="form-group">
    <%= label_tag "stock_ids", "Stock IDs", :class => "col-sm-1 control-label" %>
    <div class="col-sm-3"><%= text_area_tag "stock[stock_ids]", nil, :class => "form-control", :rows => 20 %></div>
  </div>
  <div>
    <label>Delete old records: <%= check_box_tag "stock[delete_old_records]" %></label>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-10">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </div>
<% end %>