<% flash.each do |type, message| %>
  <% type = type.to_sym %>
  <% if !message.blank? && flash_class(type) %>
    <div class="fade in <%= flash_class(type) %>">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <%= message.class == Array ? message.join(". ") : message %>
    </div>
    <% flash[type] = nil %>
  <% end  %>
<% end %>