<%= link_to "Create New Word", new_word_path, :class => "btn btn-primary" %>
<% unless @words.blank? %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Word</th>
        <th>Weight</th>
        <th>Updated Time</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @words.each do |word| %>
        <tr>
          <td><%= word.word %></td>
          <td><%= word.weight %></td>
          <td><%= word.updated_at %></td>
          <td>
            <button class="btn btn-xs btn-primary">Edit</button>
            <button class="btn btn-xs btn-danger">Delete</button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>