<h3>Add a new Word</h3>

<%= form_for @word, :html => {:class => "form-horizontal", :role => "form"} do |f| %>
  <div class="form-group">
    <%= f.label :word, "Word", :class => "col-sm-1 control-label" %>
    <div class="col-sm-3"><%= f.text_field :word, :class => "form-control" %></div>
  </div>
  <div class="form-group">
    <%= f.label :weight, "Weight", :class => "col-sm-1 control-label" %>
    <div class="col-sm-3"><%= f.text_field :weight, :class => "form-control" %></div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-10">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </div>
<% end %>