<div id="charts-container"></div>

<script type="text/javascript">
$(function () {
  chartData = <%= "#{@data}".html_safe %>;
  /*$('#charts-container').highcharts({
    title: {
      text: '发帖分数走势',
      x: -20 //center
    },
    subtitle: {
      text: '数据源：东方财富网',
      x: -20
    },
    xAxis: {
      type: 'datetime',
      dateTimeLabelFormats: {
        day: '%Y-%m-%e'
      }
    },
    yAxis: {
      title: {
        text: 'Weights'
      },
      plotLines: [{
        value: 0,
        width: 1,
        color: '#808080'
      }]
    },
    tooltip: {
      valueSuffix: ''
    },
    legend: {
      layout: 'vertical',
      align: 'right',
      verticalAlign: 'middle',
      borderWidth: 0
    },
    series: [{
      name: 'weight',
      data: chartData
    }]
  });*/

  $('#charts-container').highcharts('StockChart', {
    rangeSelector : {
      selected : 1,
      inputEnabled: $('#charts-container').width() > 480
    },

    title: {
      text: '发帖分数走势'
    },
    subtitle: {
      text: '数据源：东方财富网'
    },

    series : [{
      name : 'weight',
      data : chartData,
      tooltip: {
        valueDecimals: 2
      }
    }]
  });
});
</script>