<% unless @posts.blank? %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Stock ID</th>
        <th>URL</th>
        <th>Title</th>
        <th>Content</th>
        <th>Click Count</th>
        <th>Weight</th>
        <th>Post Time</th>
        <th>Updated Time</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.stock_id %></td>
          <td><%= post.path %></td>
          <td><%= post.title %></td>
          <td><%= post.content.blank? ? "" : post.content.truncate(25) %></td>
          <td><%= post.click_count %></td>
          <td><%= post.total_weight %></td>
          <td><%= post.post_created_at %></td>
          <td><%= post.updated_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<div class="pagination pull-left"><%= page_entries_info @posts %></div>
<%= will_paginate @posts, renderer: BootstrapPagination::Rails, class: "pull-right" %>