<!DOCTYPE html>
<html>
<head>
  <title>Stock Prediction</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => "shared/header" %>

  <div class="container-fluid main">
    <%= render :partial => "shared/flash_messages" %>
    <div class="row">
      <%= yield %>
    </div>
  </div>

</body>
</html>
