<% unless baidu_tasks.blank? %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Task ID</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Total</th>
        <th>Processed</th>
        <th>Status</th>
        <th>Created Time</th>
        <th>Updated Time</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% baidu_tasks.each do |baidu_task| %>
        <tr id="baidu-task-<%= baidu_task.id %>">
          <td><%= baidu_task.id %></td>
          <td><%= baidu_task.start_date %></td>
          <td><%= baidu_task.end_date %></td>
          <td><%= baidu_task.total %></td>
          <td><%= baidu_task.processed %></td>
          <td><%= baidu_task.status %></td>
          <td><%= baidu_task.created_at %></td>
          <td><%= baidu_task.updated_at %></td>
          <td>
            <%= link_to "Download", download_baidu_news_path(baidu_task.id, format: "csv"), :method => :get, :class => "btn btn-xs btn-primary", :disabled => !baidu_task.downloadable? %>
            <%= link_to "Delete", baidu_news_path(baidu_task.id), :method => :delete, :class => "btn btn-xs btn-danger", :remote => true, :data => {:confirm => "Are you sure to delete?"} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  There is no search.
<% end %>