<%= form_for @baidu_task, url: baidu_news_index_path, method: :post, html: {class: 'form-inline', role: 'form'} do |f| %>
  <div class="form-group">
    <label for="baidu_task_start_date">Start Date: </label>
    <%= f.text_field :start_date, :class => "datepicker form-control", :placeholder => 'yyyy-mm-dd' %>
  </div>

  <div class="form-group">
    <label for="baidu_task_end_date">End Date: </label>
    <%= f.text_field :end_date, :class => "datepicker form-control", :placeholder => 'yyyy-mm-dd' %>
  </div>

  <button type="submit" class="btn btn-primary">Create new search</button>
<% end %>

<h3>Previous Search</h3>
<%= render partial: "baidu_tasks", locals: {baidu_tasks: @baidu_tasks} %>

<div class="pagination pull-left"><%= page_entries_info @baidu_tasks %></div>
<%= will_paginate @baidu_tasks, renderer: BootstrapPagination::Rails, class: "pull-right" %>

<script type="text/javascript">
  $(".datepicker").datepicker({format: 'yyyy-mm-dd'});
</script>